<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Character Vault</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  
  <h1>Your characters</h1>
  
  <a href="/users/<%=user._id%>/characters/new">Create a new character</a>

  <ul>
    <% characters.forEach((character) => { %>
    
      <li> 
        <a href="/users/<%= user._id %>/characters/<%= character._id %>">
        <%= character.chaName %> --- <%= character.chaClass %> --- <%= character.chaBackground %> 
        </a>
    </li>
    
    <% }) %>
  </ul>

</body>
</html>