<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>
        <%= character.chaName %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <h1>
            Charcter Name: <%= character.chaName %>
        </h1>

        <div>
            <h2>
                <%= character.chaClass %>
            </h2>
            <h3>
                <%= character.selectedClassFeatures %>
            </h3>
        </div>


        <div>
            <h2>
                <%= character.chaBackground %>
            </h2>
            <h3>
                <%= character.selectedBackgroundTxt %>
            </h3>
        </div>



        <div>
            <h3> Hit-points: 30 </h3>
        </div>

        <div>
            <h3> Armor score: 16 </h3>
        </div>

        <div>
            <h3> Physical: <%= character.chaStatPhy %>
            </h3>
            <h3> Study: <%= character.chaStatStu %>
            </h3>
            <h3> Cunning: <%= character.chaStatCun %>
            </h3>
            <h3> Faith: <%= character.chaStatFai %>
            </h3>
        </div>

        <h3>
            <%= character.chaBackStory %>
        </h3>

        <div>
            <% if (character.notes) { %>
                <p> Notes: <%= character.notes %>
                </p>
                <% } %>
        </div>

        <a href="/users/<%= user._id %>/characters/<%= character._id %>/edit">
            <button> Edit character </button>
        </a>

        <form action="/users/<%= user._id %>/characters/<%= character._id %>?_method=DELETE" method="POST">
            <button type="submit"> Delete character </button>

        </form>

</body>

</html>